Before we start, we need to make sure that we have a Kafka cluster running and a topic that produces some streaming data. For simplicity, we will use a single-node Kafka cluster and a topic named `users`. Open the `4.0 user-gen-kafka.ipynb` notebook and execute the cell. This notebook produces a user record every few seconds and put it on a Kafka topic called users.

In [1]:
from delta import  # Delta Lake 라이브러리 임포트 configure_spark_with_delta_pip
from pyspark.sql import SparkSession  # Spark SQL 작업을 위한 SparkSession 임포트
from pyspark.sql.functions import  # Spark SQL 함수들 임포트 col, from_json
from pyspark.sql.types import  # Spark SQL 데이터 타입 임포트 StructType, StructField, IntegerType, StringType

In [2]:
builder = (SparkSession.builder  # SparkSession 빌더 패턴 시작
           .appName("config-triggers")  # 애플리케이션 이름 설정
           .master("spark://spark-master:7077")  # Spark 마스터 URL 설정
           .config("spark.executor.memory", "512m")  # Spark 설정 옵션
           .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")  # Spark 설정 옵션
           .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")  # Spark 설정 옵션)

spark = configure_spark_with_delta_pip(builder,['org.apache.spark:spark-sql-kafka-0-10_2.12:3.4.1']).getOrCreate()  # SparkSession 생성 또는 기존 세션 반환
spark.sparkContext.setLogLevel("ERROR")  # 로그 레벨을 ERROR로 설정

:: loading settings :: url = jar:file:/usr/local/lib/python3.10/dist-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
io.delta#delta-core_2.12 added as a dependency
org.apache.spark#spark-sql-kafka-0-10_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-9287b7ab-0e94-48e1-9010-0be6e9cb6923;1.0
	confs: [default]
	found io.delta#delta-core_2.12;2.4.0 in central
	found io.delta#delta-storage;2.4.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
	found org.apache.spark#spark-sql-kafka-0-10_2.12;3.4.1 in central
	found org.apache.spark#spark-token-provider-kafka-0-10_2.12;3.4.1 in central
	found org.apache.kafka#kafka-clients;3.3.2 in central
	found org.lz4#lz4-java;1.8.0 in central
	found org.xerial.snappy#snappy-java;1.1.10.1 in central
	found org.slf4j#slf4j-api;2.0.6 in central
	found org.apache.hadoop#hadoop-client-runtime;3.3.4 in central
	found org.apache.hadoop#hadoop-client-api;3.3.4 in central
	found commons-logging#commons-logging;1.1.3 in central
	found com.google.code.findbugs#jsr305;3.0.0 in central
	found org.apache.commons#commons-pool2;2.11.1 in central
:: resolution report :: resolve 1093ms :: artifacts dl 31ms
	:: modules in use:
	com.google.code.findbugs#jsr305;3.0.0 from central in [default]
	commons-logging#commons-logging;1.1.3 from central in [default]
	io.delta#delta-core_2.12;2.4.0 from central in [default]
	io.delta#delta-storage;2.4.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	org.apache.commons#commons-pool2;2.11.1 from central in [default]
	org.apache.hadoop#hadoop-client-api;3.3.4 from central in [default]
	org.apache.hadoop#hadoop-client-runtime;3.3.4 from central in [default]
	org.apache.kafka#kafka-clients;3.3.2 from central in [default]
	org.apache.spark#spark-sql-kafka-0-10_2.12;3.4.1 from central in [default]
	org.apache.spark#spark-token-provider-kafka-0-10_2.12;3.4.1 from central in [default]
	org.lz4#lz4-java;1.8.0 from central in [default]
	org.slf4j#slf4j-api;2.0.6 from central in [default]
	org.xerial.snappy#snappy-java;1.1.10.1 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   14  |   0   |   0   |   0   ||   14  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-9287b7ab-0e94-48e1-9010-0be6e9cb6923
	confs: [default]
	0 artifacts copied, 14 already retrieved (0kB/25ms)
24/02/04 18:02:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
get_ipython().run_line_magic('load_ext', 'sparksql_magic')
get_ipython().run_line_magic('config', 'SparkSql.limit=20')

In [4]:
df = (spark.readStream  # 스트리밍 데이터 읽기
      .format("kafka")
      .option("kafka.bootstrap.servers", "kafka:9092")
      .option("subscribe", "users")
      .option("startingOffsets", "earliest")
      .load(  # 파일 로드))

In [5]:
schema = StructType  # 구조체 타입([
    StructField  # 구조체 필드('id', IntegerType(), True),
    StructField  # 구조체 필드('name', StringType(), True),
    StructField  # 구조체 필드('age', IntegerType(), True),
    StructField  # 구조체 필드('gender', StringType(), True),
    StructField  # 구조체 필드('country', StringType(), True)])

df = df.withColumn(  # 새 컬럼 추가 또는 기존 컬럼 수정'value', from_json(col('value').cast("STRING"), schema))

In [6]:
df = df.select(  # 컬럼 선택
    col(  # 컬럼 참조'value.id').alias('id'),
    col(  # 컬럼 참조'value.name').alias('name'),
    col(  # 컬럼 참조'value.age').alias('age'),
    col(  # 컬럼 참조'value.gender').alias('gender'),
    col(  # 컬럼 참조'value.country').alias('country'))

In [7]:
query = (df.writeStream  # 스트리밍 데이터 쓰기
   .format("console")
   .outputMode(  # 스트리밍 출력 모드 설정"append")
   .start()  # 스트리밍 시작)

-------------------------------------------
Batch: 0
-------------------------------------------
+---+------+---+------+---------+
| id|  name|age|gender|  country|
+---+------+---+------+---------+
| 23|user13| 25|     F|    China|
| 64|user35| 60|     F|      USA|
| 20|user81| 41|     F|   Canada|
| 55|user18| 35|     M|    India|
| 63|user23| 41|     F|   Brazil|
| 78|user74| 59|     F|      USA|
| 84|user34| 18|     F|       UK|
| 56|user64| 32|     M|    China|
| 85|user13| 61|     M|      USA|
| 44|user86| 44|     F|    India|
|  5|user48| 32|     M|Australia|
| 50|user73| 60|     F|Australia|
|  7|user93| 38|     F|    China|
| 20|user45| 45|     M|   Canada|
| 57|user22| 43|     F|    China|
| 71|user13| 27|     F|    China|
| 92|user39| 20|     F|   Brazil|
| 53|user21| 64|     F|    India|
| 47| user2| 21|     M|       UK|
| 88|user86| 44|     M|    India|
+---+------+---+------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 1
-------------------------------------------
+---+------+---+------+---------+
| id|  name|age|gender|  country|
+---+------+---+------+---------+
| 59|user79| 65|     M|Australia|
+---+------+---+------+---------+

-------------------------------------------
Batch: 2
-------------------------------------------
+---+------+---+------+-------+
| id|  name|age|gender|country|
+---+------+---+------+-------+
| 76|user41| 50|     M|    USA|
+---+------+---+------+-------+

In [8]:
query.stop()

In [9]:
query = (df.writeStream  # 스트리밍 데이터 쓰기
   .format("console")
   .outputMode(  # 스트리밍 출력 모드 설정"append")
   .trigger(  # 스트리밍 트리거 설정processingTime='30 seconds')
   .start()  # 스트리밍 시작)

-------------------------------------------
Batch: 0
-------------------------------------------
+---+------+---+------+---------+
| id|  name|age|gender|  country|
+---+------+---+------+---------+
| 23|user13| 25|     F|    China|
| 64|user35| 60|     F|      USA|
| 20|user81| 41|     F|   Canada|
| 55|user18| 35|     M|    India|
| 63|user23| 41|     F|   Brazil|
| 78|user74| 59|     F|      USA|
| 84|user34| 18|     F|       UK|
| 56|user64| 32|     M|    China|
| 85|user13| 61|     M|      USA|
| 44|user86| 44|     F|    India|
|  5|user48| 32|     M|Australia|
| 50|user73| 60|     F|Australia|
|  7|user93| 38|     F|    China|
| 20|user45| 45|     M|   Canada|
| 57|user22| 43|     F|    China|
| 71|user13| 27|     F|    China|
| 92|user39| 20|     F|   Brazil|
| 53|user21| 64|     F|    India|
| 47| user2| 21|     M|       UK|
| 88|user86| 44|     M|    India|
+---+------+---+------+---------+
only showing top 20 rows

-------------------------------------------
Batch: 1
-------------------------------------------
+---+------+---+------+---------+
| id|  name|age|gender|  country|
+---+------+---+------+---------+
| 18|user11| 57|     F|Australia|
| 51|user70| 56|     F|    India|
| 69|user15| 22|     F|   Canada|
+---+------+---+------+---------+

In [10]:
query.stop()

In [11]:
query = (df.writeStream  # 스트리밍 데이터 쓰기
   .format("console")
   .outputMode(  # 스트리밍 출력 모드 설정"append")
   .trigger(  # 스트리밍 트리거 설정once=True)
   .start()  # 스트리밍 시작)

-------------------------------------------
Batch: 0
-------------------------------------------
+---+------+---+------+---------+
| id|  name|age|gender|  country|
+---+------+---+------+---------+
| 23|user13| 25|     F|    China|
| 64|user35| 60|     F|      USA|
| 20|user81| 41|     F|   Canada|
| 55|user18| 35|     M|    India|
| 63|user23| 41|     F|   Brazil|
| 78|user74| 59|     F|      USA|
| 84|user34| 18|     F|       UK|
| 56|user64| 32|     M|    China|
| 85|user13| 61|     M|      USA|
| 44|user86| 44|     F|    India|
|  5|user48| 32|     M|Australia|
| 50|user73| 60|     F|Australia|
|  7|user93| 38|     F|    China|
| 20|user45| 45|     M|   Canada|
| 57|user22| 43|     F|    China|
| 71|user13| 27|     F|    China|
| 92|user39| 20|     F|   Brazil|
| 53|user21| 64|     F|    India|
| 47| user2| 21|     M|       UK|
| 88|user86| 44|     M|    India|
+---+------+---+------+---------+
only showing top 20 rows

In [12]:
query.stop()

In [13]:
spark.stop()  # Spark 세션 종료 - 리소스 정리