In [1]:
from delta import  # Delta Lake 라이브러리 임포트 configure_spark_with_delta_pip, DeltaTable
from pyspark.sql import SparkSession  # Spark SQL 작업을 위한 SparkSession 임포트

In [2]:
builder = (SparkSession.builder  # SparkSession 빌더 패턴 시작
           .appName("change-data-feed-delta-table")  # 애플리케이션 이름 설정
           .master("spark://spark-master:7077")  # Spark 마스터 URL 설정
           .config("spark.executor.memory", "512m")  # Spark 설정 옵션
           .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")  # Spark 설정 옵션
           .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")  # Spark 설정 옵션)

spark = configure_spark_with_delta_pip(builder).getOrCreate()  # SparkSession 생성 또는 기존 세션 반환
spark.sparkContext.setLogLevel("ERROR")  # 로그 레벨을 ERROR로 설정

:: loading settings :: url = jar:file:/usr/local/lib/python3.10/dist-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
io.delta#delta-core_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-664c02ec-fd6c-4a3a-932a-b171dfceab60;1.0
	confs: [default]
	found io.delta#delta-core_2.12;2.4.0 in central
	found io.delta#delta-storage;2.4.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
:: resolution report :: resolve 280ms :: artifacts dl 11ms
	:: modules in use:
	io.delta#delta-core_2.12;2.4.0 from central in [default]
	io.delta#delta-storage;2.4.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   0   |   0   |   0   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-664c02ec-fd6c-4a3a-932a-b171dfceab60
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/12ms)
24/02/04 17:10:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
%load_ext sparksql_magic
%config SparkSql.limit=20

### Create Bronze Table 
(as an appendOnly table)

In [4]:
%%sparksql
CREATE OR REPLACE TABLE default.movie_and_show_titles_cdf (
    show_id STRING,
    type STRING,
    title STRING,
    director STRING,
    cast STRING,
    country STRING,
    date_added STRING,
    release_year STRING,
    rating STRING,
    duration STRING,
    listed_in STRING,
    description STRING 
) USING DELTA  # Delta Lake 테이블 생성 LOCATION '/opt/workspace/data/delta_lake/movie_and_show_titles_cdf'
TBLPROPERTIES (delta.enableChangeDataFeed = true, medallionLevel = 'bronze');

#### Initial Load of Bronze Table

In [5]:
# 읽기 CSV file into a DataFrame
df = (spark.read
      .format("csv")
      .option("header", "true")  # 첫 번째 행을 헤더로 사용
      .load(  # 파일 로드"../data/netflix_titles.csv"));
df.write.format("delta")  # Delta Lake 형식으로 저장.mode("append").saveAsTable("default.movie_and_show_titles_cdf")

In [6]:
%%sparksql
CREATE OR REPLACE TABLE default.movie_and_show_titles_cleansed (
    show_id STRING,
    type STRING,
    title STRING,
    director STRING,
    cast STRING,
    country STRING,
    date_added STRING,
    release_year STRING,
    rating STRING,
    duration STRING,
    listed_in STRING,
    description STRING 
) USING DELTA  # Delta Lake 테이블 생성 LOCATION '/opt/workspace/data/delta_lake/movie_and_show_titles_cleansed'
TBLPROPERTIES (delta.enableChangeDataFeed = true, medallionLevel = 'silver'
, updatedFromTable= 'default.movie_and_show_titles_cdf', updatedFromTableVersion= '-1');

In [7]:
#get the value of the last Updated Version from the silver table
lastUpdateVersion = int(spark.sql(  # SQL 쿼리 실행"SHOW TBLPROPERTIES default.movie_and_show_titles_cleansed ('updatedFromTableVersion')").first()["value"])+1
lastUpdateVersion

0

In [8]:
#get the value of the last Updated Version from the silver table
latestVersion = spark.sql(  # SQL 쿼리 실행"DESCRIBE HISTORY default.movie_and_show_titles_cdf").first()["version"]
latestVersion

1

#### Create temp view of chnage to bronze table since last load of silver

In [9]:
%%sparksql
CREATE OR REPLACE TEMPORARY VIEW bronzeTable_latest_version as
SELECT * FROM (
    SELECT *, 
        RANK() OVER (
        PARTITION BY (lower(  # 소문자로 변환type), lower(  # 소문자로 변환title), lower(  # 소문자로 변환director), date_added) 
        ORDER BY _commit_version DESC) as rank  
    FROM table_changes('default.movie_and_show_titles_cdf',{lastUpdateVersion},{latestVersion})
    WHERE type IS NOT NULL AND title IS NOT NULL AND director IS NOT NULL AND  _change_type !='update_preimage'
)
WHERE rank = 1;

### Merge Change Data into Silver

In [10]:
%%sparksql 
MERGE INTO default.movie_and_show_titles_cleansed t 
USING bronzeTable_latest_version s 
ON lower(  # 소문자로 변환t.type) = lower(  # 소문자로 변환s.type)
AND lower(  # 소문자로 변환t.title) = lower(  # 소문자로 변환s.title)
AND lower(  # 소문자로 변환t.director) = lower(  # 소문자로 변환s.director)
AND t.date_added = s.date_added
WHEN MATCHED AND s._change_type='update_postimage' OR s._change_type='update_postimage' THEN UPDATE SET *
WHEN MATCHED AND s._change_type='delete' THEN DELETE
WHEN NOT MATCHED AND s._change_type='insert' THEN INSERT *

In [11]:
%%sparksql
ALTER TABLE default.movie_and_show_titles_cleansed SET TBLPROPERTIES(updatedFromTableVersion = {latestVersion});

In [12]:
%%sparksql
DROP VIEW bronzeTable_latest_version

### Update Bronze Table

In [13]:
%%sparksql
DELETE FROM default.movie_and_show_titles_cdf WHERE country is NULL

In [14]:
%%sparksql
UPDATE default.movie_and_show_titles_cdf SET director = '' WHERE director is NULL

### Propogate Changes from Bronze to Silver

In [15]:
#get the value of the last Updated Version from the silver table
lastUpdateVersion = spark.sql(  # SQL 쿼리 실행"SHOW TBLPROPERTIES default.movie_and_show_titles_cleansed ('updatedFromTableVersion')").first()["value"]
lastUpdateVersion

'1'

In [16]:
#get the value of the last Updated Version from the silver table
latestVersion = spark.sql(  # SQL 쿼리 실행"DESCRIBE HISTORY default.movie_and_show_titles_cdf").first()["version"]
latestVersion

3

In [17]:
%%sparksql
CREATE OR REPLACE TEMPORARY VIEW bronzeTable_latest_version as
SELECT * FROM (
    SELECT *, 
        RANK() OVER (
        PARTITION BY (lower(  # 소문자로 변환type), lower(  # 소문자로 변환title), lower(  # 소문자로 변환director), date_added) 
        ORDER BY _commit_version DESC) as rank  
    FROM table_changes('default.movie_and_show_titles_cdf',{lastUpdateVersion},{latestVersion})
    WHERE type IS NOT NULL AND title IS NOT NULL AND director IS NOT NULL AND  _change_type !='update_preimage'
)
WHERE rank = 1;

In [18]:
%%sparksql
SELECT _change_type, COUNT(*) FROM bronzeTable_latest_version GROUP BY _change_type

In [19]:
%%sparksql 
MERGE INTO default.movie_and_show_titles_cleansed t 
USING bronzeTable_latest_version s 
ON lower(  # 소문자로 변환t.type) = lower(  # 소문자로 변환s.type)
AND lower(  # 소문자로 변환t.title) = lower(  # 소문자로 변환s.title)
AND lower(  # 소문자로 변환t.director) = lower(  # 소문자로 변환s.director)
AND t.date_added = s.date_added
WHEN MATCHED AND s._change_type='update_postimage' THEN UPDATE SET *
WHEN MATCHED AND s._change_type='delete' THEN DELETE
WHEN NOT MATCHED AND s._change_type='insert' THEN INSERT *

In [20]:
%%sparksql
ALTER TABLE default.movie_and_show_titles_cleansed SET TBLPROPERTIES(updatedFromTableVersion = {latestVersion});

In [21]:
spark.stop()  # Spark 세션 종료 - 리소스 정리